<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Available</title>
</head>
<body>
    <hgroup>

        <h2>@ViewBag.Message</h2>
    </hgroup>
</body>
</html>

@Html.ActionLink("Back to Search", "Index", "Home", new { @class = "btn btn-default" })
