<br />@Html.ActionLink("Show all Cars", "GetCars", "Home", new { @class = "btn btn-danger" })<br /><br />

<b>Search Cars</b>
<form action="~/Home/GetCarsSearch">
    <input type="text" name="make" placeholder="Make" />
    <input type="text" name="model" placeholder="Model" />
    <input type="text" name="year" placeholder="Year" />
    <input type="text" name="color" placeholder="Color" />
    <input type="submit" value="Search" class="btn btn-primary" />

</form><br />


@*<b>Search Cars by Model</b>
<form action="~/Home/GetCarsSearch">
    <input type="text" name="model" placeholder="Model" /> |
    <input type="submit" value="Search By Model" class="btn btn-primary" />

</form><br />

<b>Search Cars by Year</b>
<form action="~/Home/GetCarsSearch">
    <input type="text" name="year" placeholder="Year" /> |
    <input type="submit" value="Search By Year" class="btn btn-primary" />

</form><br />

<b>Search Cars by Color</b>
<form action="~/Home/GetCarsSearch">
    <input type="text" name="color" placeholder="Color" /> |
    <input type="submit" value="Search By Color" class="btn btn-primary" />*@

</form>

